*, body {
	padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #e3edef;
    font-weight: 300;
    
}
.mobileFull {
  width: 50%;
}
.mobileColumn {
  display: flex;
  flex-direction: row;
}


.index {
  border-right: solid #e7b9aa 1px;
}
.menu {
  position: fixed;
  top: 0;
  width: 80%;
  padding-top: 60px;
  border-bottom: solid #7C9ABE 1px;
  list-style-type: none;

}
.underline {
  transition: width 0.5s ease-out;
  height: 5px;
  width: 0px;
  position: relative;
  left:10px;
  background-color: white;
}
.item a:hover {
  /*background-color: #A8DADC;*/
  background-color: transparent;
  color: white;
}
li:hover .underline {
  width: 100%;
}

.logo a{
  text-decoration: none;
  color: #3d3f3a;
  font-weight: 600;

}
.logo:hover a{
  background-color: transparent;
}

.logo {
  margin: 10px;
}


@media only screen and (max-width: 700px) {
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.logo {
    display: none;
}
}

.button {
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #031D12;
  width: 240px;
  height: 80px;
  font-size: 1.5rem;
  font-weight: 100;
  margin-top: 120px;
  font-family: Roboto, sans-serif;


  /*font-family: BonVivantSerif, serif;*/
}


@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 30s linear infinite;
  -moz-animation: rotating 30s linear infinite;
  -ms-animation: rotating 30s linear infinite;
  -o-animation: rotating 30s linear infinite;
  animation: rotating 30s linear infinite;
  
}


ol {
  list-style-type: none;
  counter-reset: my-awesome-counter;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

form * {
  background-color: transparent;
  font-family: 'Caveat';
  font-size: 1.5rem;
}

input {
  border: none;
  border-bottom: 2px dotted #7C9ABE;
}

input:focus {
  /*background-color: #C1DCED;*/
  outline:  none;
  border-bottom: solid 3px  #7C9ABE;
  box-shadow: none;
 /* border-bottom-style: dotted;*/
}

textarea {
  border-radius: 50px;
  border:  none;
  background-color: white;
  padding: 10px 20px;
}

textarea:focus {
  outline:  none;
}
.oneWorkGrid {
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 100px;
}
.oneWorkGridClosed {
  margin-left: 50px;
  margin-bottom: 50px;
}
.imgWrap {
  width:  40%;
  margin-right:  50px;
}
.infoWrap {
  width: 60%;
}
.sliderStyle {
  width: 80%;
  text-align:center;
}

.footer > p {
  margin-right: 50px;
  padding-left: 100px;
  margin-top: 30px;  
}
.footer-socials {
  padding-right: 100px;
}
.postWrap {
  width: 40%;
}
@media only screen and (max-width: 1200px) {
  .oneWork {
    display: flex;
    flex-direction: column;
  }
  .oneWorkGrid {
    margin-left: 0px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    padding-bottom: 100px;
  }
  .oneWorkGridClosed {
    margin-left: 0px;
    margin-top: 50px;
  }
  .imgWrap, .infoWrap {
    width: 100%;
    margin: 10px;
    }
     .index {
    border-right: none;
    border-bottom: solid #e7b9aa 1px;
  }
  .numberGrid {
   justify-content: center !important;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    width: 100%;
    float: left;
  }
  section > h2 {
    font-size: 5rem !important;
    word-wrap: break-word;
  }
  .mobileColumn {
    display: flex;
    flex-direction: column;
  }
  .mobileFull {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rotating {
    position: relative;
    top: 30%;
    width: 200px;
    left: 20%;
  }
 .quote {
  display: none;
 }
 .sliderStyle {
  width: 100%;
 }
 .nomargin {
  margin: 0px !important;
 }
 .nopadding {
  padding: 0px !important;
 }
 .skillImg {
  width: 40px !important;
  height: 40px !important;
 }
 .postWrap {
  width: 90%;
  }
 .footer > p {
  padding: 0px;


 }
 .footer-socials {
  padding: 0px;
 }

 #contactme {
  text-align: center;
 }
}

@media only screen and (max-width: 650px) {
  .footer-socials {
    display: none;
  }
}