*, body {
	padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #e3edef;
    font-weight: 300;
}

.menu {
  position: fixed;
  top: 0;
  width: 80%;
  padding-top: 60px;
  border-bottom: solid #7C9ABE 1px;
  list-style-type: none;

}
.underline {
  transition: width 0.5s ease-out;
  height: 5px;
  width: 0px;
  position: relative;
  left:10px;
  background-color: white;
}
.item a:hover {
  /*background-color: #A8DADC;*/
  background-color: transparent;
  color: white;
}
li:hover .underline {
  width: 100%;
}

.logo a{
  text-decoration: none;
  color: #3d3f3a;
  font-weight: 600;

}
.logo:hover a{
  background-color: transparent;
}

.logo {
  margin: 10px;
}


@media only screen and (max-width: 700px) {
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.logo {
    display: none;
}
}

.button {
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #031D12;
  width: 240px;
  height: 80px;
  font-size: 1.5rem;
  font-weight: 100;
  margin-top: 120px;
}


@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 30s linear infinite;
  -moz-animation: rotating 30s linear infinite;
  -ms-animation: rotating 30s linear infinite;
  -o-animation: rotating 30s linear infinite;
  animation: rotating 30s linear infinite;
}


ol {
  list-style-type: none;
  counter-reset: my-awesome-counter;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
/*ol li {
  counter-increment: my-awesome-counter;
  display: flex;
  /*width: 50%;*/
/*  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}*/
/*ol li::before {
  content: "0" counter(my-awesome-counter);
  font-weight: bold;
  font-size: 96px;
  margin-right: 0.5rem;
  font-family: BonVivantSerif, serif;
  line-height: 1;
}*/
