
@font-face {
    font-family: 'BonVivantSerif';
    src: url(../fonts/BonVivantSerif.woff);
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url(../fonts/Helvetica Neue Medium Extended.woff);
}
@font-face {
    font-family: 'HelveticaNeueLight';
    src: url(../fonts/Helvetica Neue UltraLight.woff);
}
